<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Nodejs-saltfactory</string>
	<key>ordering</key>
	<array>
		<string>993D07C9-A22A-468B-861C-4743406C5338</string>
		<string>35C201BF-D55A-48E7-A4C3-A171FAF73143</string>
		<string>4F647E9A-2040-430D-8749-8810E93F3F2C</string>
		<string>3A2BA3ED-2F79-435B-9499-B00BA2CD0998</string>
		<string>4C5EF8E0-7069-459B-9B53-810F228803B0</string>
		<string>8EFD5AA8-3EBF-4ECC-9022-6D56ACB8E250</string>
	</array>
	<key>uuid</key>
	<string>AFE16723-498D-41B3-9D02-87A867B02B8A</string>
</dict>
</plist>
